body {
    background: rgba(0, 0, 0, 0.856);
    color: whitesmoke;
    margin-top: 5rem;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #1aad9a9f;
  }
  
  ul, li {
    margin: 0;
    color: rgba(0, 0, 0, 0.932);
  }
  
  
  .bg-steel {
    background-color: #22aab4;
  }
  
  .site-header .navbar-nav .nav-link {
    color: #cbd5db;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
  
  .content-section {
    background: rgba(0, 0, 0, 0.253);
    color: whitesmoke;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  
  .article-title {
    color: #22abb494;
  }
  
  a.article-title:hover {
    color: #9ad7f3;
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .article-metadata {
    color: teal;
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }
  
  .article-metadata a:hover {
    color: rgba(168, 191, 235, 0.788);
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }
  